.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 4444;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility var(--transition-dur-func);

    &.is-hidden {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
}